2d-project-start\.godot\editor\*
2d-project-start\.godot\editor\editor_layout.cfg
2d-project-start\.godot\editor\create_recent.Node
2d-project-start\.godot\editor\filesystem_cache8
2d-project-start\.godot\editor\filesystem_update4
2d-project-start\.godot\editor\project_metadata.cfg
2d-project-start\.godot\editor\recent_dirs
2d-project-start\.godot\editor\script_editor_cache.cfg
2d-project-start\.godot\uid_cache.bin